
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


 .cardDescripction {
  width: 500px;
  height: 500px;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 800x;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
 .card_left {
  width: 40%;
  height: 500px;
  float: left;
  overflow: hidden;
  background: transparent;
}
 .card_left img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
}
 .card_right {
  width: 60%;
  float: left;
  background: #000000;
  height: 500px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
 .card_right h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 30px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}
 .card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
 .card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}
 .card_right__rating__stars {
  position: relative;

  margin: 10px 0 10px 0;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
 .card_right__rating__stars fieldset, body .card_right__rating__stars label {
  margin: 0;
  padding: 0;
}
 .card_right__rating__stars .rating {
  border: none;
}
 .card_right__rating__stars .rating > input {
  display: none;
}
 .card_right__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
  font-family: FontAwesome;
}
 .card_right__rating__stars .rating > .half:before {
  content: "\f089";
  position: absolute;
}
 .card_right__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
 .card_right__rating__stars .rating > input:checked ~ label,
 .card_right__rating__stars .rating:not(:checked) > label:hover,
 .card_right__rating__stars .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
 .card_right__rating__stars .rating > input:checked + label:hover,
 .card_right__rating__stars .rating > input:checked ~ label:hover,
 .card_right__rating__stars .rating > label:hover ~ input:checked ~ label,
 .card_right__rating__stars .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
 .card_right__review p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
 .card_right__review a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}
 .card_right__button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}
 .card_right__button Button {
  color: #ffda00;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #ffda00;
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: .5s;
}
 .card_right__button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: .5s;
}
.actors{
  color: white;
  margin-left: 5px;
}
