.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.checkMovie {
  float: left;
  width: auto;
  margin-left: 0em;
}
.checkSeries {
  float: right;
}
.titlecenter{
  transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    width: 17%;
    top: 30%;
    left: 50%;
}
.formCenter{
  transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    width: 17%;
    top: 50%;
    left: 50%;
}
.bigVar{
height: 100vh;
background-color: #a4f6a5;
}
.smallVar{
height: auto;
 background-color: #a4f6a5;
}

.navFilms1{
  color:white;
  margin-top: -600px;
  font-size: 40px;
}
.navFilms{
  color:white;
  margin-top: auto;
  font-size: 28px;
}
.inputSearch {
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30%;
  top: 61%;
  left: 85%;
}

.brandTitle{

background-color: white;
border:solid 3px;
border-color: black;
border-radius: 10px;
font-size: 30px;
}